Repository FunkinCrew/funkin.assets, pull requests merged in 2024-10, with the labels that each got.

#77 [ENHANCEMENT/BUG-FIX:] Fix Pico.HXC
  preload/scripts/songs/pico.hxc
Labels: type: minor bug, status: accepted

#83 Add missing hotkeys to User Guide
  preload/data/ui/chart-editor/dialogs/user-guide.xml
Labels: type: documentation, status: pending triage

#66 Fix MtH not being credited in Monster's metadata
  preload/data/songs/monster/monster-metadata.json
Labels: status: accepted, type: charting issue

#22 Fix "Skip Forward" button's name
  exclude/data/ui/chart-editor/components/playbar.xml
Labels: type: minor bug, status: accepted, size: small

#5 Don't make tankmans ugh animation ignore other inputs
  preload/scripts/characters/tankman.hxc
Labels: status: accepted, size: small

#56 Fix inconsistency in Roses' Erect metadata
  preload/data/songs/roses/roses-metadata-erect.json
Labels: status: accepted, size: small

#33 [ENHANCEMENT] Add outline to gfSticker3.png
  shared/images/transitionSwag/stickers-set-1/gfSticker3.png
Labels: status: accepted, size: small

#37 Align freeplay clear percentage
  preload/images/fonts/freeplay-clear.xml
Labels: type: enhancement, status: accepted, polish, size: small

#6 Change the way Philly Window Light's work in the Philly Train stage
  preload/data/stages/phillyTrain.json
  preload/scripts/stages/phillyTrain.hxc
  week3/images/philly/win.png
  week3/images/philly/win0.png
  week3/images/philly/win1.png
  week3/images/philly/win2.png
  week3/images/philly/win3.png
  week3/images/philly/win4.png
Labels: status: accepted, size: medium

#81 fix + optimize InverseDots shader
  preload/shaders/InverseDots.frag
Labels: type: major bug, status: reviewing internally, size: small

#21 Fix Darnell icon's offset
  preload/images/icons/icon-darnell.png
Labels: status: pending triage
