Repository FunkinCrew/funkin.assets, pull requests merged in 2025-06, with the labels that each got.

#60 Add "Flip character horizontally" to the list of Shortcuts
  preload/data/ui/animation-editor/offset-editor-view.xml
Labels: type: enhancement, status: accepted, size: tiny

#71 Ensure volume enables for burpShit animation as well
  preload/scripts/characters/pico-playable.hxc
Labels: type: minor bug, status: accepted, size: small, pr: hscript

#78 Darnell's `kneeCan` animation will now ACTUALLY play, like it did before v0.5.0
  preload/scripts/characters/darnell.hxc
Labels: type: minor bug, status: accepted, size: small, pr: hscript, topic: art and animation

#91 [BUGFIX] Fix Pico's `fistPump` offsets
  preload/data/players/pico.json
Labels: type: minor bug, status: accepted, pr: art, topic: art and animation, size: tiny

#126 [BUGFIX] Prevent Picos from gasping a second time during the Pico and Pico interaction cutscene
  preload/scripts/stages/phillyTrainErect.hxc
Labels: type: minor bug, status: accepted, topic: polish, pr: hscript, size: tiny

#133 [BUGFIX] Fix error when getting fakeout death while testing in Chart Editor
  preload/scripts/characters/bf.hxc
Labels: type: major bug, status: accepted, topic: chart editor, size: small, pr: hscript

#149 Fix GF's Week 7 combo break anim not playing
  preload/data/characters/gf-tankmen.json
Labels: type: minor bug, status: accepted, pr: art, topic: art and animation, size: tiny

#158 [ENHANCEMENT]: Pico Pixel Character Name Fix
  preload/data/characters/pico-pixel.json
Labels: type: minor bug, status: accepted, topic: chart editor, topic: polish, size: small

#168 Properly check for Darnell (BF Mix) alternate instrumental
  preload/scripts/songs/darnell.hxc
Labels: type: minor bug, status: accepted, size: medium, pr: hscript

#183 [BUGFIX] Fix the A-bot visualizer jumping in volume when the song ends
  preload/scripts/characters/nene-christmas.hxc
  preload/scripts/characters/nene-dark.hxc
  preload/scripts/characters/nene-pixel.hxc
  preload/scripts/characters/nene.hxc
  preload/scripts/characters/otis-speaker.hxc
Labels: type: minor bug, status: accepted, topic: polish, size: medium, pr: hscript

#187 Remove spammy trace call for SpookyDarkCharacter's animations
  preload/scripts/characters/spooky-dark.hxc
Labels: status: accepted, type: optimization, pr: hscript, size: tiny

#121 Editors close button fix
  exclude/data/ui/chart-editor/components/style.xml
  exclude/data/ui/stage-editor/components/style.xml
  shared/images/ui/chart-editor/close.png
Labels: type: minor bug, status: accepted, topic: chart editor, size: small, topic: stage editor

#170 Chart editor - Fix add variation bpm text size
  preload/data/ui/chart-editor/dialogs/add-variation.xml
Labels: type: minor bug, status: accepted, topic: chart editor, topic: polish, size: tiny

#202 [ENHANCEMENT] Scriptable Backing Cards
  preload/scripts/players/backcards/backcard-bf.hxc
  preload/scripts/players/backcards/backcard-pico.hxc
Labels: type: enhancement, status: reviewing internally, topic: mods, pr: hscript, topic: freeplay, size: huge

#172 [BUGFIX] Fix Charter field not being set in song metadata (add varation dialog)
  preload/data/ui/chart-editor/dialogs/add-variation.xml
Labels: type: minor bug, status: accepted, topic: chart editor, size: small

#165 [FIX] Fix Death Before Senpai Dialogue
  preload/scripts/songs/senpai.hxc
Labels: type: minor bug, status: accepted, size: small, pr: hscript
