Repository FunkinCrew/funkin.assets, pull requests merged in 2025-05, with the labels that each got.

#178 <PR Recovery> Fix MtH not being credited in Monster's metadata
  preload/data/songs/monster/monster-metadata.json
Labels: status: pending triage, type: charting issue, size: small, pr: chart

#176 <PR Recovery> Fix "Skip Forward" button's name
  exclude/data/ui/chart-editor/components/playbar.xml
Labels: type: minor bug, topic: chart editor, status: pending triage, topic: polish, size: small

#174 <PR Recovery> [ENHANCEMENT] Add outline to gfSticker3.png
  shared/images/transitionSwag/stickers-set-1/gfSticker3.png
Labels: type: minor bug, status: pending triage, size: small, pr: art, topic: art and animation

#175 <PR Recovery> Add missing hotkeys to User Guide
  preload/data/ui/chart-editor/dialogs/user-guide.xml
Labels: type: enhancement, topic: chart editor, status: pending triage, size: small

#177 <PR Recovery> Align freeplay clear percentage
  preload/images/fonts/freeplay-clear.xml
Labels: type: minor bug, status: pending triage, size: medium, pr: art, topic: freeplay

#169 Fix pico mix cutscene
  preload/scripts/stages/phillyTrainErect.hxc
  preload/scripts/stages/props/PicoBloodPool.hxc
Labels: type: major bug, status: accepted, size: medium, pr: hscript

#179 Remove Trace Call for Pico's animations
  preload/scripts/characters/pico-playable.hxc
Labels: status: pending triage, type: optimization, size: small, pr: hscript

#73 Fix debris changing size in Pico Great animation.
  shared/images/resultScreen/results-pico/resultsGREAT/Animation.json
  shared/images/resultScreen/results-pico/resultsGREAT/spritemap1.json
  shared/images/resultScreen/results-pico/resultsGREAT/spritemap1.png
Labels: type: minor bug, status: accepted, size: large, pr: art, topic: art and animation

#193 [GITHUB] More PR size labels
  .github/changed-lines-count-labeler.yml
Labels: status: pending triage, size: medium, pr: github
